/* Adding background color to the header */
.header {
    background-color: rgb(33, 33, 216);
    color: white;
}

/* Changing font size of the first div holding the current weather conditions */
.weather-today{
    font-size: 25px;
}

/* Changing the width of the section holding the current weather and 5 day forecast*/
.weather{
    width: 60%;
}

/* Changing the width of the section holding the text field and buttons*/
.search-field{
    width: 35%;
}

/* Adding right margins to the 5-day weather forecast boxes and background color */
.five-day {
    margin-right: 4px;
    background-color: rgb(22, 155, 155);
}

/* lengthens the created history buttons, rounds them out and sets their margin and padding*/
.history-btn {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

/* sets padding of clear button and rounds the corners*/
.clear-btn {
    border-radius: 5px;
    padding: 5px;
}

/* Use media query to change the width of both the sections to be 100% on smaller screens*/
@media screen and (max-width:768px){
.weather{
    width: 100%;
}
.search-field{
    width: 100%;
}
}