.header {
    background-color: rgb(33, 33, 216);
    color: white;
}

.weather-today{
    font-size: 25px;
}

.weather{
    width: 60%;
}

.five-day {
    margin-right: 4px;
    background-color: rgb(22, 155, 155);
}
